<div class="bubble">

<section class="create">

        <h1>Add an episode</h1>
        <!-- FORM -->
        <form #createForm="ngForm" (ngSubmit)="onCreateHandler(createForm)" class="createForm">

          <!-- NAME -->
          <div>
            <label for="name">Episode Name</label>
            <input ngModel #name="ngModel" name="name" id="name" autofocus placeholder="Name" required min="4" />

            <!-- NAME ERRORS -->
            <ng-container *ngIf="name.invalid && name.touched">
              <div *ngIf="name.errors?.['required']">Name is required
              </div>
              <div *ngIf="name.errors?.['min']">Name must be at least 4 characters long
              </div>
            </ng-container>
          </div>

          <!-- IMAGE -->
          <div>
            <label for="image">Image</label>
            <input ngModel #image="ngModel" type="text" name="image" id="image" placeholder="Image URL" required>

            <!-- IMAGE ERRORS -->
            <ng-container *ngIf="image.invalid && image.touched">
              <div *ngIf="image.errors?.['required']">Image is required
              </div>
            </ng-container>
          </div>

          <!-- AGE -->
          <div>
            <label for="age">Release Date</label>
            <input ngModel #age="ngModel" type="text" name="date" id="date" placeholder="Release Date" required />

            <!-- AGE ERRORS -->
            <ng-container *ngIf="age.invalid && age.touched">
              <div *ngIf="age.errors?.['required']">Release date is required
              </div>
            </ng-container>
          </div>

          <!-- POSITION -->
          <div>
            <label for="position">Description</label>
            <input ngModel #position="ngModel" type="text" name="description" id="description" list="description"
              placeholder="Description" required />

            <!-- POSITION ERRORS -->
            <ng-container *ngIf="position.invalid && position.touched">
              <div *ngIf="position.errors?.['required']">Description is required
              </div>
            </ng-container>
          </div>

          <!-- CLUB -->
          <div>
            <label for="club">Rating</label>
            <input ngModel #club="ngModel" type="text" name="rating" id="rating" placeholder="Rating" required />

            <!-- CLUB ERRORS -->
            <ng-container *ngIf="club.invalid && club.touched">
              <div *ngIf="club.errors?.['required']">Rating is required
              </div>
            </ng-container>
          </div>

          <!-- BUTTON -->
          <button [disabled]="createForm.invalid" type="submit">Add
          </button>

          <!-- SERVER ERROR -->
          <div *ngIf="errorMessage">{{ errorMessage }}
          </div>
        </form>

</section>

</div>