<div class="search">
    <form #searchForm="ngForm" (submit)="onSearchHandler(searchForm)">
      <div>
        <div>
          <input
            ngModel
            #search="ngModel"
            type="search"
            name="search"
            placeholder="Search"/>

          <button>Search</button>
        </div>
      </div>
    </form>
  </div>

  <!-- SERVER ERROR -->
  <section>
    <div *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <ng-container *ngIf="episodes">
      <ng-container *ngIf="episodes.length > 0; else noPlayers">
        <ng-container *ngFor="let episode of episodes">
          <!-- PLAYER CARD -->
          <div>
            <div>
              <img src="{{ episode.image }}" alt="{{ episode.name }}"/>
            </div>
            <div>
              <h5>
                Episode Name: {{ episode.name }}
              </h5>
              <p>
                Release Date: {{ episode.date }}
              </p>
              <a [routerLink]="['/players', 'details', episode._id]">
                Details
              </a>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- NO RESULTS -->
    <ng-template #noPlayers>
      <h1>
        There are no episodes that match your search!
      </h1>
    </ng-template>

    <!-- LOADER -->
    <ng-container *ngIf="isLoading">
      <app-loader></app-loader>
    </ng-container>
  </section>

