<div class="search">
    <form #searchForm="ngForm" (submit)="onSearchHandler(searchForm)" class="searchBox">
        <input class="searchInput"
            ngModel
            #search="ngModel"
            type="search"
            name="search"
            placeholder="Episode name"/>

        <button class="searchButton">
            Search
        </button>
    </form>

    <section class="searchSection">
        <div *ngIf="errorMessage">
            {{ errorMessage }}
        </div>

        <ng-container *ngIf="episodes">
            <ng-container *ngIf="episodes.length > 0; else noPlayers">
                <div class="episodeContainer"> <!-- Add this div with class "episodeContainer" -->
                    <ng-container *ngFor="let episode of episodes">
                        <div class="episodeTemplate">
                            <div>
                                <img src="{{ episode.image }}" alt="{{ episode.name }}" />
                            </div>
                            <div class="episodeTemplate-content">
                                <h5>
                                    Episode Name: {{ episode.name }}
                                </h5>
                                <p>
                                    Release Date: {{ episode.date }}
                                </p>
                                <a [routerLink]="['/players', 'details', episode._id]">
                                    Details
                                </a>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>

        <ng-template #noPlayers>
            <h1 class="noEpisodes">
                There are no episodes that match your search! Please try again. 
            </h1>
        </ng-template>

        <ng-container *ngIf="isLoading">
            <app-loader></app-loader>
        </ng-container>
    </section>
</div>

