<div class="wholeSection">
<div *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<ng-container *ngIf="player; else loading">
  <!-- PLAYER CARD -->
  <div class="episodeCard">
    <div>
      <img [src]="player.image" [alt]="player.name" />
    </div>
    <div>
      <h5>
        Episode Name: {{ player.name }} <span class="likesCount">Likes: {{ likes$ | async }}</span>
      </h5>
      <p>
        Release Date: {{ player.date }}
      </p>
      <p>
        Description: {{ player.description }}
      </p>
      <p>
        Rating: {{ player.rating }}
      </p>

      <!-- EDIT & DELETE BUTTONS -->
      <ng-container *ngIf="isOwner">
        <div class="ownerButtons">
          <a [routerLink]="['/players', 'edit', player._id]">
            Edit <i class="ml-2 fas fa-pen"></i>
          </a>
          <a href="javascript:void(0)" (click)="deletePlayer(player._id)" class="delete">
            Delete
          </a>
        </div>
      </ng-container>

      <!-- LIKE & ALREADY LIKED BUTTONS -->
      <ng-container *ngIf="!isOwner && isLogged">
        <div class="likeButtons">
          <div *ngIf="(canLike$ | async) == 0">
            <a href="javascript:void(0)" (click)="likePlayer(player._id)">
              Like
            </a>
          </div>

          <div *ngIf="(canLike$ | async) != 0">
            <a href="javascript:void(0)">
              Already liked
            </a>
          </div>

        </div>
      </ng-container>

    </div>
  </div>
</ng-container>


<!-- LOADER -->
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
</div>