<h1 class="h1">Episodes added by you</h1>
<section class="episodesSection">


  
  <div *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <ng-container *ngIf="episodes; else loading">
    <ng-container *ngIf="episodes.length > 0; else noPlayers">
      <ng-container *ngFor="let episode of episodes">
        
        <div class="episodeTemplate">
          <div>
            <img src="{{ episode.image }}" alt="{{ episode.name }}" />
          </div>
          <div>
            <h5>Episode Name: {{ episode.name }}</h5>
            <div class="content">
              <p class="releaseDate">Release Date: {{ episode.date }}</p>
              <a [routerLink]="['/players', 'details', episode._id]">Details</a>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #noPlayers>
    <h1 class="noAdded">You still have not added any episodes. <a routerLink="/create">Add</a></h1>
  </ng-template>


  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>

</section>