.editSection {
    display: flex;
    flex-direction: column;
    height: 91.8%;
    background-image: url('/assets/wall.jpg'); 
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


.editForm {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    margin: auto;
    margin-top: 10px;
}

.editSection h1 {
    text-align: center;
    color: white;
    margin: auto;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
}

.editForm label {
    display: block;
    color: #666;
    margin-bottom: 5px;
}

.editForm input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.editForm button {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
}

.editForm button[disabled] {
    background-color: #ccc;
}

.editForm .fa-xmark {
    color: red;
}