/* Style for the container section */

.bubble {
    background-image: url('/assets/king.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 90.5%;
    display: flex;
    flex-direction: column; /* Added to stack the items vertically */
    justify-content: center;
    align-items: center;
}

.create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Style for the form wrapper */
  .create form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    background-color: #fff;
  }
  
  /* Style for the header (h1 above the form) */
  .create h1 {
    font-weight: bold;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px; /* Add some space between the h1 and the form */
  }
  
  /* Style for the labels */
  .create label {
    font-weight: bold;
    color: black; /* Set the label color to black */
  }
  
  /* Style for the form inputs */
  .create input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  /* Style for the error messages */
  .create div * {
    color: black;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  /* Style for the submit button */
  .create button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .create button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  