<div class="logingClass"> 

<h1>Welcome back to Westeros</h1>


<form class="loginForm" #loginForm="ngForm" (ngSubmit)="loginMethod(loginForm)">

 
  <div>
    <label for="email">Email address</label>
    <input ngModel #email="ngModel" name="email" id="email" autofocus placeholder="username@gmail.com" required pattern="^[a-zA-Z0-9_\.]+@[a-zA-Z]+\.[a-zA-Z]{2,3}$" />

 
    <ng-container *ngIf="email.invalid && email.touched">
      <div *ngIf="email.errors?.['required']">Email is required </div>
      <div *ngIf="email.errors?.['pattern']">Email must be in format username@gmail.com</div>
    </ng-container>
  </div>

  <div>
    <label for="password">Password</label>
    <input ngModel #password="ngModel" type="password" name="password" id="password" placeholder="******" required minlength="6" />

    <ng-container *ngIf="password.invalid && password.touched">
      <div *ngIf="password.errors?.['required']">Password is required </div>
      <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters long</div>
    </ng-container>
  </div>

  <button [disabled]="loginForm.invalid" type="submit">Sign in</button>


  <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>

  <p class="noAccount">Don't have an account yet?
    <a routerLink="/register">Sign up</a>
  </p>
</form>

</div>