<section class="bg-cover bg-[url('/assets/field.jpg')]">
  
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full rounded-xl md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 opacity-90">
        <div class="md:space-y-6 sm:p-8">
  
          <!-- HEADER -->
          <h1 class="text-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">Add an episode</h1>
  
          <!-- FORM -->
          <form class="md:space-y-6"
            #createForm="ngForm"
            (ngSubmit)="onCreateHandler(createForm)">
  
            <!-- NAME -->
            <div>
              <label for="name" class="block mb-1 text-base font-medium text-gray-900 dark:text-white">Episode Name</label>
              <input
                ngModel
                #name="ngModel"
                name="name"
                id="name"
                autofocus
                class="bg-gray-50 border-2 border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white"
                placeholder="Name"
                required
                min="4"/>
  
              <!-- NAME ERRORS -->
              <ng-container *ngIf="name.invalid && name.touched">
                <div class="block text-sm font-medium text-gray-900 dark:text-white"
                  *ngIf="name.errors?.['required']">Name is required <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="block text-sm font-medium text-gray-900 dark:text-white"
                  *ngIf="name.errors?.['min']">Name must be at least 4 characters long<i class="fa-solid fa-xmark"></i>
                </div>
              </ng-container>
            </div>
  
            <!-- IMAGE -->
            <div>
              <label for="image" class="block mb-1 text-base font-medium text-gray-900 dark:text-white">Image</label>
              <input
                ngModel
                #image="ngModel"
                type="text"
                name="image"
                id="image"
                class="bg-gray-50 border-2 border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white"
                placeholder="Image URL"
                required>
  
              <!-- IMAGE ERRORS -->
              <ng-container *ngIf="image.invalid && image.touched">
                <div class="block text-sm font-medium text-gray-900 dark:text-white"
                  *ngIf="image.errors?.['required']">Image is required <i class="fa-solid fa-xmark"></i>
                </div>
              </ng-container>
            </div>
  
            <!-- AGE -->
            <div>
              <label for="age" class="block mb-1 text-base font-medium text-gray-900 dark:text-white">Release Date</label>
              <input
                ngModel
                #age="ngModel"
                type="text"
                name="date"
                id="date"
                class="bg-gray-50 border-2 border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white"
                placeholder="Release Date"
                required
                />
              
              <!-- AGE ERRORS -->
              <ng-container *ngIf="age.invalid && age.touched">
                <div class="block text-sm font-medium text-gray-900 dark:text-white"
                  *ngIf="age.errors?.['required']">Release date is required <i class="fa-solid fa-xmark"></i>
                </div>
              </ng-container>
            </div>

             <!-- POSITION -->
             <div>
              <label for="position" class="block mb-1 text-base font-medium text-gray-900 dark:text-white">Description</label>
              <input
                ngModel
                #position="ngModel"
                type="text"
                name="description"
                id="description"
                list="description"
                class="bg-gray-50 border-2 border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white"
                placeholder="Description"
                required
                />
              
              <!-- POSITION ERRORS -->
              <ng-container *ngIf="position.invalid && position.touched">
                <div class="block text-sm font-medium text-gray-900 dark:text-white"
                  *ngIf="position.errors?.['required']">Description is required <i class="fa-solid fa-xmark"></i>
                </div>
              </ng-container>
            </div>

             <!-- CLUB -->
             <div>
              <label for="club" class="block mb-1 text-base font-medium text-gray-900 dark:text-white">Rating</label>
              <input
                ngModel
                #club="ngModel"
                type="text"
                name="rating"
                id="rating"
                class="bg-gray-50 border-2 border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white"
                placeholder="Rating"
                required/>
  
              <!-- CLUB ERRORS -->
              <ng-container *ngIf="club.invalid && club.touched">
                <div class="block text-sm font-medium text-gray-900 dark:text-white"
                  *ngIf="club.errors?.['required']">Rating is required <i class="fa-solid fa-xmark"></i>
                </div>
              </ng-container>
            </div>
  
            <!-- BUTTON -->
            <button
              [disabled]="createForm.invalid"
              type="submit"
              class="cursor-pointer hover:bg-green-600 border-2 border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:text-white"
            >Add
            </button>
  
            <!-- SERVER ERROR -->
            <div class="text-center block mb-1 text-sm font-medium text-gray-900 dark:text-white"
              *ngIf="errorMessage">{{ errorMessage }} <i class="fa-solid fa-xmark"></i>
            </div>
          </form>
  
        </div>
      </div>
    </div>
  </section>